.PathCard {
  border: 1px solid gray;
  transition: border 0.2s ease-in-out;

  form input,
  form button {
    display: block;
  }

  &.edit-mode {
    padding: 2rem 1rem;
  }

  &.selected {
    border-color: red;
  }
}

.form-switcher {

  button {
    transition: border 0.2s ease-in-out;

    &.active {
      border-color: red;
    }
  }
}

.path-wrap {
  display: flex;
}

.hops-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hop {
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }
}