.PathCard {
  display: flex;

  &.edit-mode {
    padding: 2rem 1rem;
  }
}

.hops {
  width: 100%;
  border: 1px solid gray;
  transition: border 0.2s ease-in-out;

  &.selected {
    border-color: red;
  }
}