.DeviceEditor {
  display: flex;
}

.device-selector {
  overflow-y: scroll;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 300px;
  background: black;

  form {
    position: sticky;
    top: 0;
    padding-top: 2rem;
    background: black;
  }
}

.device-editor {
  width: 100%;
  height: 100vh;
  padding-top: 1rem;
  padding-left: 20rem;
  overflow: hidden;
}