.DeviceCard {
  background: black;
  margin: 0.5rem 0;
  max-width: 750px;
  padding: 1rem;
  border: 1px solid gray;
  transition: border 0.2s ease-in-out;

  &.selected {
    border-color: red;
  }
}

